<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Button</title>
	<style>
		svg, div, span {
			margin: 0;
			padding: 0;
		}
		
		/* 
			按钮 
			---------------------------------
		*/
		.btn {
			display: inline-block;
			padding: 1px 8px;
			line-height: 20px;
			font-size: 12px;
			background-color: #fff;
			border: 1px solid #ccc;
			border-radius: 3px;
			cursor: pointer;
			outline: none;
			position: relative;
			z-index: 1;
			-webkit-user-select: none;
			transition: .3s;
			font-family: "Microsoft Yahei","SimHei","Hiragino Sans GB","Helvetica Neue",sans-serif,Arial;
		}

		.btn:hover {
			box-shadow: 1px 3px 3px 0 rgba(0,0,0,.1);;
			transition: box-shadow .3s ease;
		}
		.btn:focus {
			box-shadow: 0 1px 0 rgba(0,0,0,.5);
			border-color: #fff;
		}
		.btn:active {
			box-shadow: 0 0 0 rgba(0,0,0,.3); 
			background-color: #f5f5f5;   
			transition: box-shadow 0s ease;
		}
		.btn .ico {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			opacity: 0;
		}
		.btn.show .ico {
			opacity: 1;
		}

		
		.btn .ico svg {
			float: left;
		}
		.OK_SVG polyline {
			fill:none;
			stroke:#4caf50; 
			stroke-miterlimit:10; 
			stroke-width: 24px;
		}

		.circle-z {
			fill:none;
			stroke: #ccc;
			stroke-width: 24;
			/*设置转角顶点样式为圆形*/
			stroke-linecap: round;
			stroke-miterlimit:20;
			stroke-dasharray: 563 563;
			stroke-dashoffset: 0;
			-webkit-animation: gorotate linear 2s;
			-webkit-transform-origin: center;
		}
		.circle-z.loading {
			stroke-dasharray: 0 563;
			-webkit-animation: loadingrotate linear 2s infinite;

		}
		@-webkit-keyframes loadingrotate {
			0% {
				stroke-dasharray:0 563;
			}
			50% {
				stroke-dasharry: 563 563;
				stroke-dashoffset: -100;
			}
			100% {
				stroke-dasharray:563 563;
				stroke-dashoffset: -563;
			}
		}
		@-webkit-keyframes gorotate {
			0% {
				stroke-dasharray:0 563;
			}

			100% {
				stroke-dasharray:550 563;
			}
			
		}
		.circle-box {
			-webkit-animation: rotate360 linear 3s infinite;
			-webkit-transform-origin: center;
		}
		@-webkit-keyframes rotate360 {
			100% {
				-webkit-transform: rotate(360deg);
			}
		}

		.middle-btn {
			padding: 3px 25px;
			font-size: 16px;
			line-height: 28px;
		}
		.middle-btn .ico {
			width: 16px;
			height: 16px;
			top: 10px;
			left: 5px;
		}
		
		/* 绿色主题 */
		.green-btn {
			border-color: #039008;
			color: #fff;
			background-color: #4caf50;
		}		
		.green-btn .circle-z,
		.green-btn .OK_SVG polyline {
			stroke: #fff;
		}

	</style>
</head>
<body>
	<div id="btn1" class="btn middle-btn">
		<span class="ico"></span>
		<span class="name">默认</span>
	</div>

	<div id="btn1" class="btn middle-btn green-btn">
		<span class="ico"></span>
		<span class="name">绿色按钮</span>
	</div>

	<script src="jquery.js"></script>
	<script>
		$(function() {

			$('.btn').click(function(e) {
				var _ = $(this);
				var oldTxt = _.text()
				
				btnSattus(_, 'loading', '加载中..')

				setTimeout(function(e){
					btnSattus(_, 'done', oldTxt)
				}, 5000)
			})
		})


		function btnSattus (ele, status, txt) {
			var load_svg = '<svg width="16" height="16" viewBox="0 0 230 230"><g class="circle-box"><circle class="circle-z loading" cx="117.351" cy="111.769" r="90"/></g></svg>';

			var Ok_svg = '<svg version="1.1" class="OK_SVG" width="16" height="16" viewBox="0 0 200 200"><polyline points="29.186,107.663 76.279,150.105 177.151,45 "/><animate attributeName="stroke-dasharray" begin="0s" dur="400ms" values="0,230; 230,0" repeatCount="1"></animate></svg>';

			if (status == 'loading') {
				if (!ele.hasClass('show')) {
					ele.addClass('show').attr('disabled', 'disabled')
					.find('.name').text(txt).end()
					.find('.ico').html(load_svg)
				}
			}
			else if (status == 'done') {

				ele.find('.ico').html(Ok_svg).next().html('完成');


				setTimeout(function() {
					ele.removeClass('show').find('.name').text(txt)
				}, 1000)
			}
			else if (status == 'normal') {
				ele.removeClass('show').find('.name').text(txt)
			}
		}
	</script>
</body>
</html>