<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>welcome</title>
</head>
<body>
	<%- include('parts/nav') %>
	<h1>Welcome Use iServer</h1>
	<a href="http://ejs.co/">Ejs</a>
</body>
</html>